// Color Palette
$darkBlue: #293241;
$lightBlue: #3d5a80;
$yellow: #fca311;
$darkYellow: #e38a00;
$white: #fcfcfc;

// Font Sizes
$bodyFont: 1rem;
$heading1: 1.5rem;
$heading2: 1.1rem;
$smallFont: 0.8rem;
